<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-hibernate:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_hibernate_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-hibernate/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-hibernate" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Hibernate 5.2.10-5.2.10" />
          <element id="library" level="project" name="Spring-4.3.10.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.10.RELEASE" />
          <element id="file-copy" path="$USER_HOME$/Downloads/c3p0-0.9.5.2/lib/c3p0-0.9.5.2.jar" />
          <element id="file-copy" path="$USER_HOME$/Downloads/c3p0-0.9.5.2/lib/c3p0-oracle-thin-extras-0.9.5.2.jar" />
          <element id="file-copy" path="$USER_HOME$/Downloads/c3p0-0.9.5.2/lib/mchange-commons-java-0.2.11.jar" />
          <element id="library" level="project" name="javax.servlet.jsp.jstl:javax.servlet.jsp.jstl-api:1.2.1" />
          <element id="library" level="project" name="commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="jstl-1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>